body
{
    background-color: darkred;
    color: white;
    font-family: Verdana;
    text-align: center;
}

.Frame1
{
  width: 700px;
  height: 550px;
  display: inline-block;
  padding: 0px;
  border-color: black;
  border-width: 2px;
}

.left
{
    width: 250px;
    height: 700px;
    border-style: solid;
    border-width: 2px;
    float: left;
    padding: 0px;
    background-color:darkred;
    border-color: black;
}

.right
{
    width: 250px;
    height: 700px;
    border-style: solid;
    border-width: 2px;
    float: right;
    padding: 0px;
    background-color:darkred;
    border-color: black;
}

.content
{
    display: inline-block;
    height: auto;
    width: 1250px;
    padding: 0px;
}

p
{
display:inline-block;
}

.navbar
{
    width: 700px;
    height: 50px;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    padding: 0px;
    background-color:darkred;
    border-color: black;
}

button
{
    height: 35px;
    border-color: rgb(118, 30, 190);
    color:color-mix(in hsl shorter hue, color percentage, color percentage);
    background-color: red;
}

img 
{
    display: inline;
}

.Logo 
{
width:81px * 12px;
height: 33px;
}

#statuscafe
{
    padding: .5em;
    background-color: rgb(255, 255, 255);
    color: rgb(25, 0, 255);
    border: 1px solid purple;
}

#statuscafe-username 
{
    margin-bottom: .5em;
}

#statuscafe-content 
{
    margin: 0 1em 0.5em 1em;
}

.LeftDisLink 
{
    color: turquoise;
    background-color: transparent;
    text-decoration: underline;
  }

  .button:hover 
  {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
  }

  .button:active
  {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
  
