body
{
    background-color: darkred;
    color: white;
    font-family: Verdana;
    text-align: center;
}

.Frame1
{
  width: 700px;
  height: 550px;
  display: inline-block;
  padding: 0px;
  border-color: black;
  border-width: 2px;
}

.left
{
    width: 250px;
    height: 700px;
    border-style: solid;
    border-width: 2px;
    float: left;
    padding: 0px;
    background-color:darkred;
    border-color: black;
}

.right
{
    width: 250px;
    height: 700px;
    border-style: solid;
    border-width: 2px;
    float: right;
    padding: 0px;
    background-color:darkred;
    border-color: black;
}

.content
{
    display: inline-block;
    height: auto;
    width: 1250px;
    padding: 0px;
}

p
{
display:inline-block;
}

.navbar
{
    width: 700px;
    height: 50px;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    padding: 0px;
    background-color:darkred;
    border-color: black;
}

.buttons
{
    height: 35px;
    background-color: red;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 1rem;
    border:none;
    position:relative;
    background: darkred;
    transition: 0.1s;
}

.buttons::after{
    content: '';
    width: 100%;
    height: 100%;
    background-image:radial-gradient(circle farthest-corner at 10% 20%, rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2%);
    filter:blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top:0;
}

.buttons:active{
    transition: scale(0.9) rotate();
    background: radial-gradient(circle farthest-corner at 10% 20%, rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2%);
    transition: 0.5s;
}
.buttons:hover
{
    transition: scale(0.9) rotate();
    background: radial-gradient(circle farthest-corner at 10% 20%, rgb(255, 94, 94) 17.8%, rgb(0, 0, 0) 100.2%);
    transition: 0.5s;
}

img 
{
    display: inline;
}

.Logo 
{
width:88px;
height: 31px;
}

#statuscafe
{
    padding: .5em;
    background-color: rgb(255, 255, 255);
    color: rgb(25, 0, 255);
    border: 1px solid purple;
}

#statuscafe-username 
{
    margin-bottom: .5em;
}

#statuscafe-content 
{
    margin: 0 1em 0.5em 1em;
}

.LeftDisLink 
{
    color: turquoise;
    background-color: transparent;
    text-decoration: underline;
}